<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  

  <div id="cart-popup" class="cart-popup">
    <p>Item added to cart!</p>
</div>
  

<footer>
  <div class="footer-container">
    
    <!-- Newsletter Section -->
    <div class="newsletter">
      <h3>Follow Us</h3>
      <p>
        <a href="#">Subscribe to our Newsletter</a> and get exclusive updates. Enjoy a 15% discount on your first order.
      </p>
      <div class="newsletter-form">
        <input type="email" placeholder="Enter your email">
        <button>Subscribe</button>
      </div>
      
      <!-- Social Icons -->
      <div class="social-icons">
        <a href="#" aria-label="Facebook">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 2.163c5.473 0 9.837 4.364 9.837 9.837s-4.364 9.837-9.837 9.837-9.837-4.364-9.837-9.837 4.364-9.837 9.837-9.837zM13.144 17.896v-5.537h1.865l.277-2.158h-2.143V8.52c0-.624.173-1.048 1.066-1.048h1.143V5.501c-.197-.027-.874-.084-1.661-.084-1.645 0-2.771.996-2.771 2.825v1.576H8.001v2.158h1.919v5.537h3.224z" fill="#333"/>
          </svg>
        </a>
        <a href="#" aria-label="Instagram">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 2.163c5.473 0 9.837 4.364 9.837 9.837s-4.364 9.837-9.837 9.837-9.837-4.364-9.837-9.837 4.364-9.837 9.837-9.837zm4.5 7.5c0 .83-.67 1.5-1.5 1.5h-4c-.83 0-1.5-.67-1.5-1.5v-1c0-.83.67-1.5 1.5-1.5h4c.83 0 1.5.67 1.5 1.5v1z" fill="#333"/>
          </svg>
        </a>
        <a href="#" aria-label="Twitter">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M23 4.5a9.545 9.545 0 01-2.828.775 4.93 4.93 0 002.165-2.723 9.828 9.828 0 01-3.127 1.218 4.917 4.917 0 00-8.528 4.484A13.96 13.96 0 011.64 3.15a4.912 4.912 0 001.523 6.562 4.89 4.89 0 01-2.229-.616v.061a4.916 4.916 0 003.946 4.827 4.902 4.902 0 01-2.224.084 4.917 4.917 0 004.59 3.417A9.865 9.865 0 010 19.54a13.92 13.92 0 007.548 2.21c9.055 0 14.008-7.503 14.008-14.008 0-.213-.005-.425-.014-.636A9.976 9.976 0 0023 4.5z" fill="#333"/>
          </svg>
        </a>
      </div>
    </div>

    <!-- Footer Links -->
    <div class="footer-links">
      <div>
        <h4>Help</h4>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
        <a href="#">Delivery & Returns</a>
      </div>
      <div>
        <h4>More Info</h4>
        <a href="#">Guides & Advice</a>
        <a href="#">Size Guide</a>
        <a href="#">Partnerships</a>
      </div>
      <div>
        <h4>About Us</h4>
        <a href="#">Our Story</a>
        <a href="#">Sustainability</a>
        <a href="#">Magazine</a>
      </div>
    </div>

  </div>
</footer>

</body>
</html>